# http://docs.haskellstack.org/en/stable/yaml_configuration/

{% if YADM_DISTRO == 'Arch' -%}
ghc-build: tinfo6
{% endif -%}

# used by 'stack new':
templates:
  params:
    author-name: Tom Harley
    author-email: magtherob@gmail.com
    github-username: magnostherobot
    # copyright:
